.container{
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    width:40%;
    height:70%;
    position:relative;
    border: 1px solid #A88A1E;
    border-radius: 1ex;
}