
.doctors{
    margin-left:  20%;
    margin-right: 50px;
  }
  .title{
    margin-bottom: 10px;
  }

  .new-doctor{
    margin-top: 20px;
  }
  .button-new-doctor{
    border-radius: 1ex;
    border: 2px solid #9F73AB;
    background-color: #DEE7E5; 
  }
  .remove-button{
    border-radius: 1ex;
    border: 2px solid #9F73AB;
    background-color: #DEE7E5; 
  }
  .container-search-bar{
    display: flex;
    align-self: flex-start;
    flex-flow: row;
    border-radius: 1ex;
    border: 2px solid #A88A1E;
    
  }
  .search-bar{
   border-radius: 1ex;
    flex-flow: row;
    background-color: #DEE7E5;
    border: none;
    width: 790px;
  }

 .search-button{
  border: 1px solid #706e6e;
  border-radius: 1ex;
  background-color: #DEE7E5; 
 }
  .eye{
    display: flex;
    justify-content: flex-end;
    align-self: flex-start ;
    color: black;
  }
  .edit{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end ;
  }