.container-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.button-pdf {
  border-radius: 1ex;
  border: 1px solid #9F73AB;
  background-color: #DEE7E5;
}

label {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

input {
  background-color: #DEE7E5;
  margin-left: 5px;
  border: 1px solid #A88A1E;
  border-radius: 1ex;
}

#elipse5 {
  z-index: -1;
  position: absolute;
  bottom: 5px;
  right: 5px;

}