.patients{
    margin-left:  50px;
    margin-right: 50px;
  }
  .title{
    margin-bottom: 10px;
  }
.container-search-bar{
  display: flex;
  justify-content: flex-start;
}
 .search-bar{
  display: flex;
  height: 20px;
  border: 1px solid #706e6e;
  background-color: #DEE7E5; 
  border-radius: 1ex;
  width: 100ex;
  height: 30px;
  margin-right: 5px;
 }

 .search-button{
  border: 1px solid #706e6e;
  border-radius: 1ex;
  background-color: #DEE7E5; 
 }
  .new-patient{
    margin-top: 10px;
  }
  .button-new-patient{
    border-radius: 1ex;
    border: 2px solid #9F73AB;
    background-color: #DEE7E5; 
  }
  .remove-button{
    border-radius: 1ex;
    border: 2px solid #9F73AB;
    background-color: #DEE7E5; 
  }
  .group-item{
    display:flex;
    flex-flow: column wrap;
    border: 1px solid #9F73AB;
    border-radius: 1ex;
    justify-content: space-between ;
    padding: 20px;
    margin-bottom: 10px;
  }
  .eye{
    display: flex;
    justify-content: flex-end;
    align-self: flex-start ;
    color: black;
  }
  .edit{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end ;
  }