.patients{
    margin-left:  50px;
    margin-right: 50px;
  }
  .title{
    margin-bottom: 10px;
  }
.container-search-bar{
  display: flex;
  justify-content: flex-start;
  
}

.form-control-patients{
  display: flex;
  border-radius: 1ex;
  background-color: #DEE7E5;
  border: 1px solid #ab8f3b;
  width: 90%;
  height: 30px;
}
//  .search-bar{
//   display: flex;
//   height: 20px;
//   background-color: #DEE7E5; 
//   border-radius: 1ex;
//   width: 100ex;
//   height: 30px;
//   margin-right: 5px;
//  }

 .search-button{
  border: 1px solid #706e6e;
  border-radius: 1ex;
  background-color: #DEE7E5; 
 }
  .new-patient{
    margin-top: 10px;
  }
  .button-new-patient{
    border-radius: 1ex;
    border: 1px solid #9F73AB;
    background-color: #DEE7E5; 
  }
  .remove-button{
    border-radius: 1ex;
    border: 2px solid #9F73AB;
    background-color: #DEE7E5; 
  }

  .eye{
    display: flex;
    justify-content: flex-end;
    align-self: flex-start ;
    color: black;
  }
  .edit{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end ;
  }