.form-control {
  display: flex;
  border-radius: 1ex;
  background-color: #DEE7E5;
  border: 1px solid #706e6e;
  width: 90%;
  height: 30px;
}
.add-form{
  display:relative;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  width:50%;
  height:60%;
  position:relative;
  border: 1px solid #A88A1E;
  border-radius: 1ex;
}
.container{
  margin-top: 30px;
  margin-left: 20px;
}
#elipse5 {
  z-index: -1;
  position: absolute;
  bottom: 5px;
  right: 5px;

}

.history {
  display: relative;
  // justify-content: center;
  border-radius: 1ex;
  background-color: #DEE7E5;
  border: 1px solid #706e6e;
  width: 90%;
  height: 60px;
}

.label {
  margin-right: 10px;
  margin-left: 10px;
}

.btn-submit {
  border-radius: 1ex;
  border: 2px solid #9F73AB;
  background-color: #DEE7E5;
  margin-top: 10px;
  margin-left: 15px;
  
}

// @media screen and (max-width: 768)  {

//   .add-form{
//     margin-top: 60%;
//   }
// }
