
.prescriptions{
  margin-left:  10%;
  margin-right: 50px;
}
.title{
  margin-bottom: 10px;
}
.container-search-bar{
  display: flex;
  align-self: flex-start;
  flex-flow: row;
  
}
.search-bar{
  display: flex;
  align-self: flex-start;
  flex-flow: row;
  border-radius: 1ex;
  background-color: #DEE7E5;
  border: 1px solid #aba673;
  width: 750px;
}
.search-button{
  border: none;
  background-color: #DEE7E5;
}
.new-patient{
  margin-top: 10px;
}

.remove-button{
  border-radius: 1ex;
  border: 1px solid #9F73AB;
  background-color: #DEE7E5; 
}
.group-item{
  display:flex;
  flex-flow: column wrap;
  border: 2px solid #9F73AB;
  ;
  border-radius: 1ex;
  justify-content: flex-start ;
  padding: 20px;
  margin-bottom: 10px;
}

.eye{
  display: flex;
  justify-content: flex-end;
  align-self: flex-start ;
  color: black;
}
.edit{
  display: flex;
  justify-content: flex-end;
  align-self: flex-start ;
  color: black;
}

.info{
  border: 2px solid #9F73AB;
  border-radius: 1ex;
  justify-content: flex-start ;
  padding: 20px;
  margin-bottom: 10px;
}