.navbar-home {
    color: #7C99AC;
}

.logo-home {
    width: 10%;
    height: 10%;
    margin-left: 10px;
    margin-top: 30px;
}

.login-home{
    color: #213F5C ;
    width: 30px;
    height: 30px;  
    margin-right: 30px;
}

.container-home {
    margin: 0%;
}

