

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 250px;
    height: 250px;
}

.btn-create{
    display: flex;
    margin-top: 10px;
    border-color: #9F73AB;
    border-radius: 1ex;
    width: 15ex;  
    background-color: #DEE7E5;
}