
.container-f {
   background: rgb(222,231,229);
background: linear-gradient(97deg, rgba(222,231,229,1) 1%, rgba(146,169,189,1) 82%);
    border-radius: 1ex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

