.patients {
    margin-left: 20%;
}

.form-p {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    height: 60%;
    position: relative;
    border: 2px solid #A88A1E;
    border-radius: 1ex;
}

.container-p {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.form-control {
    display: flex;
    border-radius: 1ex;
    background-color: #DEE7E5;
    border: 1px solid #706e6e;
    width: 90%;
    height: 30px;
}

.patient-name {
    margin-left: 20%;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 160%;
    color: #3d4a55;

}


.delete-button {
    border-radius: 1ex;
    border: none;
    background-color: #DEE7E5;
    color: #3d4e5b;
    margin-left: 20px;
    margin-bottom: 10px;

}

.update-button {
    border-radius: 1ex;
    border: none;
    background-color: #DEE7E5;
    color: #3d4e5b;
    margin-left: 20px;
    margin-bottom: 10px;
}

.cabecera-pat {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 100px;
  
}

.form-control-history {
    width: 90%;
    height: 60px;
}


.patient-image {
    display: flex;
    width: 26mm;
    height: 36mm;
    margin: auto;
    margin-left: 20px;  
    border: 1px solid #706e6e;
    
}

#elipse5 {
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    bottom: 5px;
    right: 5px;

}

